.product-series-header {
  color: #1d2b34;
  font-weight: 700;
  font-size: 55px;
  display: flex;
  margin-bottom: 20vh;
  justify-content: center;
  text-decoration: underline;
}

.product-series-description {
  color: #111111;
  font-weight: 300px;
  font-size: 24px;
}

.our-work .banner-title {
  color: #e6ffff;
  font-weight: 700;
  font-size: 55px;
}

.our-work {
  background-color: #e6ffff;
}

.vertical-dots .dot {
  line-height: 12px;
}

.our-work .position-bottom {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.our-work .anticon-down svg {
  width: 2em;
  height: 2em;
  fill: #e6ffff;
}
