.product-series-header {
  color: #e6ffff;
  font-weight: 700;
  font-size: 50px;
  display: flex;
  margin-bottom: 20vh;
  justify-content: center;
}

.product-series-description {
  color: #e6ffff;
  font-weight: 300px;
  font-size: 20px;
}

.vertical-dots {
  color: #e6ffff;
  position: absolute;
  bottom: 40px;
  font-weight: 700;
  margin-left: 50vw;
}

.vertical-dots .dot {
  line-height: 12px;
}

.our-work .position-bottom {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.our-work .anticon-down svg {
  width: 2em;
  height: 2em;
  fill: #e6ffff;
}
