.text-section {
  margin: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.text-section .title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text-section .description {
  font-size: 16px;
}
